.videocard-text-container{
    padding-top: 10%;
    padding-left: 4%
}
.video-heading{
    font-family: "Abril Fatface", times, serif;
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-weight: 900;
}
.video-para1{
    color:rgb(108, 117, 125);
    display: block;
    font-family: "Mukta Mahee", arial, sans-serif;
    font-size: 17px;
    font-weight: 100;
    line-height: 2;
}
.video-para2{
    color: rgb(101, 192, 186);
    font-family: "Mukta Mahee", arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.video-para2:hover svg{
    color: black;
}
.play-icon{
    font-size: 100px;
}
.svg-circle{
    color: lightgray;
}
.video-para2:hover .svg-circle{
    color: black;
}
@media (max-width: 1100px){
    .videocard-text-container{
        padding-top: 2%;
    }
}
@media (max-width: 1000px){
    .videocard-container{
        display: block;
    }
    .videocard-img-container{
        width: 100%;
        padding: 2%;
    }
    .videocard-text-container{
        width: 100%;
        padding-left: 0%;
    }
}
.main-card-container{
    margin-bottom: 0px !important;
}
