.rating-icon{
    display: flex !important;
    justify-content: space-between;
    align-items: baseline;
}
.card-icon{
    color: rgb(101, 192, 186);
}
.cont-rating{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    width: 100%;
    height: auto;
    padding: 10%;
    padding-top: 3%;
    padding-bottom: 9%;
    gap: 24px;
}
.card-para{
    color: rgb(204, 204, 204);
    font-family: "Mukta Mahee", arial, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 0;
    line-height: 30px;
}
.sub-cont-rating{
    width: 100% !important;
    height: 30% !important;
    border-color: transparent;
}
.rating-card-heading{
    color: rgb(0, 0, 0);
    font-family: "Abril Fatface", times, serif;
    font-size: 20px;
    font-weight: bolder;
    line-height: 1;
    padding-top: 8px;
}
.rating-card-heading:hover{
    color: rgb(101, 192, 186);
    cursor: pointer;
}
.rating-card-body{
    line-height: 0%;
}
@media (max-width: 1100px){
    .cont-rating{
        padding-left: 5%;
        padding-right: 5%;
    }
}
@media (max-width: 1000px){
    .cont-rating{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        padding-left: 13% !important;
        padding-right: 10% !important;
    }
}
@media (max-width: 770px){
    .cont-rating{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        padding-left: 10% !important;
        padding-right: 10% !important;
    }
}
@media (max-width: 600px){
    .cont-rating{
        padding-left: 3% !important;
        padding-right: 3% !important;
        padding-bottom: 13% !important;
    }
}